.Pokedex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(16, 15, 49);
}
.navBar{
  background-color: rgb(16, 15, 49);
  text-align: center
}
.pokemonCard {
  margin: 4.2px;
  border-radius: 8px;
  overflow: hidden;
  width: 19%;
}
.hoverable:hover{
  background-color: rgb(234, 236, 72);
}
.pokemon .card{
  border-radius: 8%;
}
.searchBar {
  margin-top: 42px;
  margin-left: 35%;
  margin-right: 25%;
}
.searchButton{
  background-color: rgb(16, 15, 49);  
}
.pokemonSearch {
  text-align: center;
  width: 50%;
}

.btn-floating {
  margin-left: 21px;
}

.notFound {
  min-height: 100%;
  text-align: center;
}

.pokemonInfos {
  margin-top: 21px;
  margin-bottom: 50px;
  border: solid 2px;
  border-color: black;
}

.description {
  font-weight: bold;
  margin-left:21px;
}

